# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor / OS files
.DS_Store
Thumbs.db
*.suo
*.user
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc dev files
*.jl
*.py
